html {
    // typography
    font-size: 14px;
    font-family: $baseFont;
}

// Box sizing fix
body {
    // box model
    box-sizing: border-box;

    // snapping
    // scroll-snap-type: mandatory;
    // scroll-snap-points-y: repeat(100vh);
    // // scroll-snap-type: y proximity;
    // scroll-snap-type: y mandatory;
}

section {
    // snapping
    scroll-snap-align: start;
}

html, body {
    // box model
    // width: 100%;
    // height: 100%;
    // overflow-x: hidden;
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
}