<!doctype html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Jast Agency
    body
        header.header
            .header__nav
                .header__logo
                    a.logo(href="index.html") Some Logo
                h1.header__slogan Contct Us
                a.header__main-site(href="index.html") main-site
                .main-nav__mobile-icon
                    .mobile-icon__line.mobile-icon__line-top
                    .mobile-icon__line.mobile-icon__line-middle
                    .mobile-icon__line.mobile-icon__line-bottom

                .main-menu.main-menu--home
                    ul.main-menu__list
                        li.main-menu__item
                            a.main-menu__link(href="about.html") 01 About us
                        li.main-menu__item
                            a.main-menu__link(href="projects.html") 02 Our projects
                        li.main-menu__item
                            a.main-menu__link(href="partners.html") 03 Partners
                        li.main-menu__item
                            a.main-menu__link(href="contacts.html") 04 Contact Us

            button.header__close-btn +

        main.main
            .main__content
                .contacts
                    p.contacts__address 236006 Россия,<br> г. Калининград, ул. Театральная, 35 <br>офис 606
                    a.contacts__tel(href="tel: 8(800) 222 46 08") 8(800) 222 46 08
                    a.contacts__mail(href="mailto: info@jastholding.com") info@jastholding.com
                    form.contacts__form(action="")
                        .contacts__form-input-group
                            input.contacts__form-input(type="text", placeholder="name")
                            
                        .contacts__form-input-group
                            input.contacts__form-input(type="email", placeholder="email")

                        .contacts__form-input-group
                            textarea.contacts__form-input(name="cotacts__message", cols="30", rows="10", type="text" placeholder="Your message")

                        .contacts__form-input-group
                            input.contacts-btn(type="submit", value="Send message")