<!doctype html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Jast Holding

    body
        header.main-header
            .logo
                img(src="./img/logo_white.svg", alt="Jast Holding logo")

            h1.main-title Привет, мы — JAST holding.

            button.menu-button x
                .menu-button__line.menu-button__line--top
                .menu-button__line.menu-button__line--middle
                .menu-button__line.menu-button__line--bottom

            nav.nav.nav--hidden
                ul.nav__list
                    li.nav__item
                        a.nav__link#about(href="#") <span class="nav__num">01</span> О нас
                    li.nav__item
                        a.nav__link#projects(href="#") <span class="nav__num">02</span> Наши&nbsp;проекты
                    li.nav__item
                        a.nav__link#partners(href="#") <span class="nav__num">03</span> Партнёры
                    li.nav__item
                        a.nav__link#contact(href="#") <span class="nav__num">04</span> Контакты


        section.about
            h2.about__title О нас
            .about__content
                p Наша деятельность распространяется преимущественно на франчайзинговом рынке. Компания была основана в 2016 году, меньше чем за два года мы вывели на рынок три успешных проекта, в общей сложности насчитывающие более 200 партнеров. Мы ориентированы на быстрое масштабирование среднесрочных и долгосрочных трендовых бизнес-направлений, умеем их находить и прогнозировать, что позволяет быстро расти нам и нашим партнерам.
                p Иными словами наша компания занимается построением франчайзинговых сетей. Мы находим или создаем продукт, на основе которого строим федеральный бизнес, за счет привлечения партнеров и инвесторов со всей России и СНГ.


        section.projects
            h2.projects__title Наши<br> проекты
            .projects__content
                article.project
                    h3.project__title JAST Charger
                    p.project__description Деятельность в сфере HORECA и маркетинга.

                article.project
                    h3.project__title JAST agency
                    p.project__description Маркетинговые стратегии, Digital, Консалтинг.

                article.project
                    h3.project__title IZIway-shop
                    p.project__description Интернет-магазин брендовой одежды и обуви. Ритейл.

                article.project
                    h3.project__title Lens Vens shop
                    p.project__description «LensVens Shop» - это магазин кроссовок в инстаграм, Все максимально просто.


        section.partners
            h2.partners__title Наши <br>партнёры

            .partners__content
                h3.partners__subtitle Крупнейшие порталы франшиз:

                article.partner
                    img(src="./img/partners/businessmens.svg", alt="Бизнессменс")
                article.partner
                    img(src="./img/partners/beboss.png", alt="БиБосс")
                article.partner
                    img(src="./img/partners/rbk.svg", alt="РБК")

                h3.partners__subtitle и крупные банки:

                article.partner
                    img(src="./img/partners/tinkoff.png", alt="Тинькофф Банк")
                article.partner
                    img(src="./img/partners/renessans.png", alt="Ренессанс Кредит Банк")
                article.partner
                    img(src="./img/partners/russ-standard.png", alt="Русский Стандарт Банк")
                article.partner
                    img(src="./img/partners/europe-credit.png", alt="Кредит Европа Банк")
                article.partner
                    img(src="./img/partners/east-bank.png", alt="Восточный Банк")
                article.partner
                    img(src="./img/partners/alfa-bank.png", alt="Альфа Банк")
                article.partner
                    img(src="./img/partners/otp.png", alt="ОТП Банк")


        section.contact
            h2.contact__title Свяжитесь <br>с нами
            .contact__address 236006 Россия, <br>г. Калининград, <br>ул. Театральная, 35 <br>офис 606
            a.contact__phone(href="tel:+88002224608") 8 (800) 222-46-08
            a.contact__mail(href="mailto:info@jastholding.com") info@jastholding.com

            .contact__form
                form.form(action="")
                    input.form__input(type="text" name="c_name" placeholder="Имя")
                    input.form__input(type="email" name="c_email" placeholder="E-mail")
                    textarea.form__input(name="c_message", cols="30", rows="10" placeholder="Сообщение")
                    input.form__submit(type="submit", value="Отправить сообщение")


        script(src="main.js")