<!doctype html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Jast Holding

    body
        header.main-header

            h1.main-title Hi, we&nbsp;are JAST holding.

            nav.nav
                .nav__button
                    button.menu-button x
                        .menu-button__line.mobile-icon__line-top
                        .menu-button__line.mobile-icon__line-middle
                        .menu-button__line.mobile-icon__line-bottom

                ul.nav__list
                    li.nav__item
                        a.nav__link#about(href="#") <span class="nav__num">01</span> About us
                    li.nav__item
                        a.nav__link#projects(href="#") <span class="nav__num">02</span> Our projects
                    li.nav__item
                        a.nav__link#partners(href="#") <span class="nav__num">03</span> Partners
                    li.nav__item
                        a.nav__link#contact(href="#") <span class="nav__num">04</span> Contact us

            .logo
                img(src="./img/logo_white.svg", alt="Jast Holding logo")


        section.about
            h2.about__title About<br> us
            .about__content
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quidem reiciendis possimus. Officiis, laudantium aliquam. Laboriosam hic excepturi nulla nostrum, veritatis, quis eius quas magni nemo, odit sequi eveniet quam.

        section.projects
            h2.projects__title Our<br> projects
            .project__content
                article.project
                    h3.project__title JAST agency
                    p.project__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium est ducimus non eius iusto error? Nisi omnis quod, sapiente ad sint doloremque optio ipsum, necessitatibus reprehenderit doloribus et voluptates culpa?

                article.project
                    h3.project__title JAST Charger
                    p.project__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quaerat error, ipsa tempora recusandae saepe dignissimos eaque ullam rerum voluptates labore cumque perspiciatis veniam, impedit reprehenderit amet in voluptatum eligendi.

                article.project
                    h3.project__title Lens Vens shop
                    p.project__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quidem, itaque dicta, non iusto quod earum architecto quae neque mollitia voluptas. Magni ea aspernatur accusamus nulla porro sequi totam quaerat!

        script(src="main.js")