<!doctype html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Jast Holding

    body
        header.main-header
            .logo
                img(src="./img/logo_white.svg", alt="Jast Holding logo")

            h1.main-title Привет, мы — JAST holding.

            button.menu-button x
                .menu-button__line.mobile-icon__line-top
                .menu-button__line.mobile-icon__line-middle
                .menu-button__line.mobile-icon__line-bottom

            nav.nav.nav--hidden
                ul.nav__list
                    li.nav__item
                        a.nav__link#about(href="#") <span class="nav__num">01</span> О нас
                    li.nav__item
                        a.nav__link#projects(href="#") <span class="nav__num">02</span> Наши&nbsp;проекты
                    li.nav__item
                        a.nav__link#partners(href="#") <span class="nav__num">03</span> Партнёры
                    li.nav__item
                        a.nav__link#contact(href="#") <span class="nav__num">04</span> Контакты

        section.about
            h2.about__title О нас
            .about__content
                p Наша деятельность распространяется преимущественно на франчайзинговом рынке. Компания была основана в 2016 году, меньше чем за два года мы вывели на рынок три успешных проекта, в общей сложности насчитывающие более 200 партнеров. Мы ориентированы на быстрое масштабирование среднесрочных и долгосрочных трендовых бизнес-направлений, умеем их находить и прогнозировать, что позволяет быстро расти нам и нашим партнерам.
                p Иными словами наша компания занимается построением франчайзинговых сетей. Мы находим или создаем продукт, на основе которого строим федеральный бизнес, за счет привлечения партнеров и инвесторов со всей России и СНГ.


        section.projects
            h2.projects__title Наши<br> проекты
            .project__content
                article.project
                    h3.project__title JAST Charger
                    p.project__description Деятельность в сфере HORECA и маркетинга.

                article.project
                    h3.project__title JAST agency
                    p.project__description Маркетинговые стратегии, Digital, Консалтинг.

                article.project
                    h3.project__title IZIway-shop
                    p.project__description Интернет-магазин брендовой одежды и обуви. Ритейл.

                article.project
                    h3.project__title Lens Vens shop
                    p.project__description «LensVens Shop» - это магазин кроссовок в инстаграм, Все максимально просто.


        section.partners


        section.contact
            h2.contact__title Свяжитесь<br> с нами
            .contact__address
            a.contact__phone(href="tel:+")
            a.contact__mail(href="mailto:")

            .contact__form
                form.form(action="")
                    input(type="text" name="c_name")
                    imput(type="email" name="c_email")
                    textarea(name="c_message", cols="30", rows="10")
                    input(type="submit", value="Send message")


        script(src="main.js")