<!doctype html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Jast Agency
    body
        <!doctype html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Jast Agency
    body
        header.header
            .header__nav
                .header__logo
                    a.logo(href="index.html") Some Logo
                h1.header__slogan Our Projects
                
                .main-nav__mobile-icon
                    .mobile-icon__line.mobile-icon__line-top
                    .mobile-icon__line.mobile-icon__line-middle
                    .mobile-icon__line.mobile-icon__line-bottom

                .main-menu.main-menu--home
                    ul.main-menu__list
                        li.main-menu__item
                            a.main-menu__link(href="about.html") 01 About us
                        li.main-menu__item
                            a.main-menu__link(href="projects.html") 02 Our projects
                        li.main-menu__item
                            a.main-menu__link(href="partners.html") 03 Partners
                        li.main-menu__item
                            a.main-menu__link(href="contacts.html") 04 Contact Us

            button.header__close-btn +

        main.main
            .main__breadcrumbs
                a(href="/index.html").breadcrumbs__breadcrumb Home
                a(href="/catalog.Our projects").breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--active Our projects
                
            .main__content
                article.project
                    header.project__header
                        h2.project__title Jast agency
                    .project__short-text
                        a.project__link(href="#") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur ad voluptas fuga odio amet cupiditate non. Necessitatibus vero unde laboriosam accusantium recusandae.

                article.project
                    header.project__header
                        h2.project__title Jast Charger
                    .project__short-text
                        a.project__link(href="#") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores perferendis repudiandae eaque! Pariatur ad quis ipsum voluptate vel repellat consectetur fuga et dolorem!

                article.project
                    header.project__header
                        h2.project__title Lens Vens shop
                    .project__short-text
                        a.project__link(href="#") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam id, rerum eaque minus nam ipsum doloremque corporis possimus excepturi culpa voluptate nemo. Ducimus.