.breadcrumbs {
    // box model
    padding-top: 80px;

    @include atDesktopS {
        // positioning
        position: absolute;
        top: 0;
        left: 414px;
    }

    @include atDesktopM {
        // positioning
        left: 514px;
        
        // typography
        font-size: 1.25rem;
    }
}

.breadcrumbs__link {
    // typography
    color: lightgray;

    text-decoration: none;

    &::after {
        content: " - ";
    }

    &:hover {
        // typography
        color: $brand;
    }
}

.breadcrumbs__current {
    // typography
    color: $brand;

    @include atDesktopM {
        // typography
        font-size: 1.25rem;
    }
}