.breadcrumbs {
    // box model
    padding-top: 80px;
}

.breadcrumbs__link {
    // typography
    color: lightgray;

    text-decoration: none;

    &::after {
        content: " - ";
    }

    &:hover {
        // typography
        color: $brand;
    }
}

.breadcrumbs__current {
    // typography
    color: $brand;
}