.main-header {
    // positioning
    position: relative;

    // box model
    padding: 50px;
    min-height: 100vh;

    // visual
    background-color: $brand;
}

.main-title {
    // typography
    color: $light;
    font-size: 4rem;
}

.nav {
    // positioning
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    // box model
    display: flex;
    justify-content: center;
    align-items: center;

    // visual
    background-color: $dark;
}

.nav__button {
    // positioning
    position: fixed;
    top: 50px;
    right: 50px;
}

.nav__list {
    // box model
    margin: 0;
    padding: 0;

    // list
    list-style: none;
}

.nav__item {
    // box model
    margin: 25px;
}

.nav__link {
    // typography
    color: $light;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
}

.nav__num {
    // positioning
    transform: translateY(10px);

    // box model
    display: inline-block;
    padding-right: 30px;
    vertical-align: baseline;

    // typography
    font-size: 4rem;
}

