.main-header {
    // positioning
    position: relative;

    // box model
    padding: 50px;
    min-height: 100vh;

    // visual
    background-color: $brand;
}

.main-title {
    // box model
    width: 200px;

    // typography
    color: $light;
    font-size: 4rem;
}

