.logo {
    // positioning
    position: absolute;
    bottom: 100px;
    right: 50px;
    z-index: 1;

    // box model
    display: block;
    width: calc(100vw - 100px);
}

.logo img {
    // box model
    display: block;
    width: 100%;
    // border: 1px solid red;
}