.logo {
    // positioning
    position: absolute;
    bottom: 100px;
    right: 50px;
    z-index: 1;

    // box model
    display: block;
    width: calc(100vw - 100px);

    &--project {
        // positioning
        bottom: auto;
        right: auto;
        top: 50px;
        left: 50px;

        // box model
        width: 45px;
    }

    @include atTablet {
        // positioning
        bottom: auto;
        right: auto;
        top: 70px;
        left: 70px;

        // box model
        width: 45px;
    }

    @include atDesktopS {
        // positioning
        top: auto;
        bottom: 70px;
        left: auto;
        right: 70px;

        // box model
        width: 420px;
        max-height: calc(100% - 140px);
    }

    @include atDesktopM {
        // positioning
        // right: calc((100% - 1060px) / 2);

        // box model
        width: 500px;
    }
}

.logo img {
    // box model
    display: block;
    width: 100%;
}