.main-menu {
    // positioning
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 99;

    // box model
    height: 100vh;
    width: 100%;
    max-width: 400px;
    padding: 25px;
    padding-top: 95px;

    // typography
    color: #ffffff;
    text-align: right;

    // visual
    background-color: #000000;
    transition: right 0.3s ease-in-out;
    @include atTablet {
        // positioning
        position: absolute;
        top: auto;
        right: auto;
        bottom: 70px;
        
        // box model
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 0;

        // visual
        background-color: transparent;
        opacity: 1;
        visibility: visible;
    }

    @include atDesktopS {
        // positioning
        top: 0;
    }
}

.main-menu--bottom {
    @include atTablet {
        // positioning
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;

        // typography
        color: #000000;
    }
}

.main-menu--active {
    // positioning
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;

    // box model
    width: 100%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;

    // visual
    opacity: 1;
    transition: right 0.3s ease-in-out;

    @include atTablet {
        // positioning
        position: relative;
        top: auto;
        right: auto;
        bottom: 0;

        // box model
        width: auto;
        max-width: 100%;
        height: auto;
    }

    @include atDesktopS {
        // positioning
        top: 0;
    }
}

.main-menu__list {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    
    // typography
    text-align: center;

    // visual
    list-style: none;

    @include atTablet {
        // box model
        flex-direction: row;
        padding: 0;
    }

    @include atDesktopS {
        // box model
        flex-direction: column;
    }
}

.main-menu__item {
    // box model
    width: 100%;
    margin: 12px 0;
    padding: 0;

    @include atTablet {
        // box model
        display: inline-block;
        width: auto;
        margin: 0 20px;

        &:first-child {
            // box model
            margin-left: 0;
        }

        &:nth-child(2) {
            // box model
            margin-right: 45px;
        }
    }

    @include atDesktopS {
        // box model
        margin: 20px 0;

        &:nth-child(2) {
            // box model
            margin-right: 0;
        }
    }
}

.main-menu__link {
    // box model
    display: flex;
    align-items: center;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;

    // typography
    color: inherit;
    font-family: $baseFont;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    text-decoration: none;

    // visual
    transition: all 0.3s ease-in-out;

    @include atTablet {
        // box model
        display: block;
        max-width: 100%;
        //padding: 0 9px;

        // typography
        font-size: 0.75rem;

        // visual
        transition: width 0.3s ease-in-out;

        &--active {
            // typography
            color: $brandColor;

            &:after {
                content: '';

                // box model
                display: block;
                width: 100%;
                height: 2px;
                margin-top: 3px;

                // visual
                background-color: $brandColor;
            }
        }
    }
}

.main-menu__link-numb {
    // box model
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;

    // typography
    font-size: 2rem;
    line-height: 27px;

    @include atTablet {
        // box model
        display: block;
        margin-right: 0;
        margin-bottom: 12px;
    }
}