.main-title {
    // positioning
    position: absolute;
    bottom: 67vw;
    left: 50px;
    z-index: 2; 

    // box model
    width: 50%;

    // typography
    color: $light;
    font-size: 12vw;
    line-height: 1.25;

    @include atTablet {
        // positioning
        position: relative;
        bottom: auto;
        left: auto;

        // box model
        margin: 0;
        margin-top: 100px;
        width: 240px;

        // typography
        font-size: 4rem;
    }

    @include atDesktopS {
        // box model
        margin-top: 0;
        width: 500px;

        // animation
        animation-name: glitch-anim-text, from-top;
        animation-duration: 4s, 1s;
        animation-delay: 2s, 0;
        animation-timing-function: linear, ease-in-out;
        animation-iteration-count: infinite, 1;
    }

    @include atDesktopM {
        // typography
        font-size: 5rem;
    }
}
