.main-title {
    // positioning
    position: absolute;
    bottom: 67vw;
    left: 50px;
    z-index: 2; 

    // box model
    width: 50%;

    // typography
    color: $light;
    font-size: 12vw;
    line-height: 1.25;
}
