
.nav {
    // positioning
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9;

    // box model
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // visual
    background-color: $dark;
    transition: all 0.3s ease-out;

    @include atTablet {
        // positioning
        position: absolute;
        top: auto;
        right: auto;
        left: 0;

        // box model
        display: block;

        // visual
        background-color: transparent;
    }

    @include atDesktopM {
        // positioning
        left: calc((100% - 1060px) / 2);
        width: 400px;
    }

    &--hidden {
        // positioning
        left: -110%;

        @include atTablet {
            // positioning
            left: 0;

            // box model
            display: block;
        }

        @include atDesktopM {
            // positioning
            // left: calc((100% - 1060px) / 2);
        }
    }
}

.nav__list {
    // box model
    margin: 0;
    padding: 0;

    // list
    list-style: none;

    @include atTablet {
        // box model
        display: flex;
        padding: 45px;
    }

    @include atDesktopS {
        // box model
        flex-direction: column;
        padding-bottom: 50px;
    }

    @include atDesktopM {
        // box model
        padding: 70px;
    }
}

.nav__item {
    // box model
    margin: 25px;

    @include atDesktopS {
        // box model
        margin: 10px 25px;
    }

    @include atDesktopM {
        // box model
        margin: 10px 0;
    }
}

.nav__link {
    // typography
    color: $light;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;

    @include atDesktopM {
        // typography
        font-size: 1.125rem;
    }
}

.nav__num {
    // positioning
    transform: translateY(10px);

    // box model
    display: inline-block;
    padding-right: 30px;
    vertical-align: baseline;

    // typography
    font-size: 4rem;

    @include atTablet {
        // box model
        display: block;
        margin-bottom: 1rem;

        // typography
        font-size: 3rem;
        font-weight: 300;
    }

    @include atDesktopS {
        // typography
        font-size: 2.25rem;
    }

    @include atDesktopM {
        // typography
        font-size: 4rem;
    }
}
