.project {
    // box model
    display: block;
    margin-bottom: 40px;

    // typography
    text-decoration: none;

    @include atDesktopS {
        // box model
        margin-bottom: 10px;
    }

    &:hover {
        // typography
        color: $light;
        text-decoration: underline;
    }
}

.project__title {
    // box model
    margin-bottom: 15px;

    // typography
    color: $light;
    // color: $dark;
    font-size: 1.75rem;
    font-weight: 400;

    @include atDesktopM {
        // typography
        font-size: 2rem;
    }

    small {
        // typography
        color: $dark;
        font-size: 1em;
        font-weight: 300;
    }
}

.project__description {
    // typography
    color: $dark;
    color: $light;
    line-height: 1.75;

    @include atDesktopM {
        // typography
        font-size: 1.25rem;
    }
}