.project-content {
    @include atDesktopS {
        // box model
        float: right;
        max-width: 530px;
    }
}

.project-content__text {
    // typography
    font-family: $baseFont;
    color: $brandColor;
}

.project-content__more {
    // box model
    display: none;
}