.project-a {
    // positioning
    position: relative;

    // box model
    min-height: 100vh;
    padding: 30px;

    @include atMobile {
        // box model
        padding: 50px;
    }

    @include atDesktopS {
        // box model
        padding: 70px;
        display: flex;
        margin: 0 auto;
    }
}

.project-a__header {
    @include atDesktopS {
        // box model
        width: 300px;
        margin-right: 60px;
    }

    @include atDesktopM {
        // box model
        width: 400px;
    }
}

.project-a__title {
    // typography
    font-size: 3rem;

    @include atDesktopS {
        // typography
        padding-top: 40px;
        font-size: 4rem;
    }

    @include atDesktopM {
        // typography
        font-size: 5rem;
    }
}

.project-a__link {
    // box model
    display: block;
    padding: 10px 20px;
    margin-bottom: 40px;

    // typographyc
    color: $brand;
    text-align: center;

    // visual
    border: 1px solid $brand;

    @include atTablet {
        // box model
        max-width: 300px;
    }
}

.project-a__content {
    // typography
    color: $brand;
    line-height: 1.5;

    @include atTablet {
        // box model
        padding-bottom: 200px;
    }

    @include atDesktopS {
        // box model
        padding-top: 80px;
        padding-bottom: 0;
        flex-basis: calc(100% - 300px);
    }
    
    @include atDesktopM {
        // typography
        font-size: 1.25rem;
        flex-basis: calc(100% - 400px);
    }
}