.projects {
    // box model
    padding: 30px;
    min-height: 100vh;

    @include atMobile {
        // box model
        padding: 50px;
    }

    @include atDesktopS {
        // box model
        display: flex;
        justify-content: space-between;
        height: 100vh;
        min-height: 620px;
        max-height: 700px;
        padding: 70px;
    }
}

.projects__title {
    // typography
    font-size: 3rem;

    @include atDesktopS {
        // box model
        margin: 0;

        // typography
        font-size: 4rem;
    }
}

.projects__content {
    @include atDesktopS {
        // box model
        width: 540px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

