.single {
    // positioning
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    // visual
    transition: all 0.5s ease-out;
}

.single--hidden {
    // box model
    visibility: hidden;
    opacity: 0;
}

.single--animated {
    .about__title,
    .projects__title,
    .partners__title,
    .contact__header {
        // animation
        animation-name: from-top;
        animation-duration: 1s;
        animation-delay: 0.1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
    }

    .close-button,
    .about__content,
    .projects__content,
    .partners__content,
    .contact__form {
        // animation
        animation-name: from-right;
        animation-duration: 1s;
        animation-delay: 0.1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
    }
}
