.single {
    // positioning
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    // visual
    transition: all 0.5s ease-out;
}

.single--hidden {
    // box model
    visibility: hidden;
    opacity: 0;
}

.single--animated {

}
